.home-container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 1rem;
}

.columns-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
}

.adding {
    width: auto;
    display: flex;
    justify-content: center;
}

.column {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    overflow-y: auto; 
    max-height: 60vh;
    position: relative;
}

.column h2{
    color: rgb(0, 255, 213);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(2px);
    font-size: 2rem;
}

.column:nth-child(3){
    border: solid 3px #A5EEA0 !important;
}
.column:nth-child(2){
    border: solid 3px #FDFD96 !important;
}
.column:nth-child(1){
    border: solid 3px #FF6961 !important;
}

.column:nth-child(3) > .card{
    border-right: solid 5px #77e070 !important;
}
.column:nth-child(2) > .card{
    border-right: solid 5px #f8fb59 !important;
}
.column:nth-child(1) > .card{
    border-right: solid 5px #ff4d44 !important;
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: fit-content;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.drag-indicator {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 255, 0, 0.75);
    padding: 10px;
    border-radius: 5px;
}

.task-content {
    display: flex;
    align-items: center;
}

.task-content p {
    margin-right: 10px;
}

.task-content p:nth-child(1) {
    flex: 1;
}

.task-content p strong{
    font-size: 2rem;
}

.task-content p span {
    border-radius: 10px;
    padding: 0.25rem;
}

.task-content p span {
    border-radius: 10px;
    padding: 0.25rem;
}

.task-content p span.Unspecified {
    background-color: green;
    color: white;
    font-weight: lighter;
}

.task-content p span.Low {
    background-color: #d1d10b;
    color: white;
    font-weight: lighter;
}

.task-content p span.Normal {
    background-color: #cb8607;
    color: white;
    font-weight: lighter;
}

.task-content p span.Important {
    background-color: #c84a34;
    color: white;
    font-weight: lighter;
}

.task-content p span.Urgent {
    background-color: #bb0808;
    color: white;
    font-weight: lighter;
}

.delete {
    margin-left: auto;
    cursor: pointer;
    color: red;
}

.edit {
    margin-left: auto;
    cursor: pointer;
    color: rgb(147, 147, 31);
}

.sign-out-container {
    display: flex;
    justify-content: flex-end;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1rem;
    width: 4rem;
    color: white;
}

button,button::after {
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
    border: 1px solid rgb(0, 255, 213);
}

button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'GLITCH';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
}

button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
    background-color: transparent;
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
    0% {
        clip-path: var(--move1);
        transform: translate(0px,-10px);
    }

    10% {
        clip-path: var(--move2);
        transform: translate(-10px,10px);
    }

    20% {
        clip-path: var(--move3);
        transform: translate(10px,0px);
    }

    30% {
        clip-path: var(--move4);
        transform: translate(-10px,10px);
    }

    40% {
        clip-path: var(--move5);
        transform: translate(10px,-10px);
    }

    50% {
        clip-path: var(--move6);
        transform: translate(-10px,10px);
    }

    60% {
        clip-path: var(--move1);
        transform: translate(10px,-10px);
    }

    70% {
        clip-path: var(--move3);
        transform: translate(-10px,10px);
    }

    80% {
        clip-path: var(--move2);
        transform: translate(10px,-10px);
    }

    90% {
        clip-path: var(--move4);
        transform: translate(-10px,10px);
    }

    100% {
        clip-path: var(--move1);
        transform: translate(0);
    }
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #222831;
    color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.close {
    align-self: flex-end;
    cursor: pointer;
}

.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.modal-exit {
    opacity: 1;
}

.modal-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.red-text {
    color: red;
}

.normal-text {
    color: inherit;
}
